# Node modules
node_modules/

# Build output
dist/
build/
worker/

# Local env files
.env
.env.*

# Wrangler config
wrangler.toml.local

# VSCode settings
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac system files
.DS_Store

# Test coverage
coverage/

.wrangler

.dev.vars
